/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');

  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --decorated-text-color: #353430;
  --section-title-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(53, 52, 48, 0.4);
}

.theme-light .page {
  background-image: var(--bg-image);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');

    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --decorated-text-color: #353430;
    --section-title-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(53, 52, 48, 0.4);
  }

  .page {
    background-image: var(--bg-image);
  }

  .header__rec {
    display: none;
  }
}